<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.playground.mapper.MemoMapper">

    <select id="selectMemoList" resultType="MemoVO">
        SELECT ID      AS "id"
             , CONTENT AS "content"
             , DEL_YN  AS "delYn"
        FROM MEMO
        WHERE DEL_YN = 'N'
        ORDER BY ID
    </select>
    
    <insert id="insertMemo" parameterType="MemoVO">
    	INSERT INTO MEMO (ID, CONTENT)
    	VALUES (
    		(SELECT COALESCE(MAX(ID), 0) + 1 FROM MEMO),
    		#{content}
    	)
    </insert>
    
    <update id="updateMemo" parameterType="MemoVO">
    	UPDATE MEMO
    	   SET CONTENT = #{content}
    	 WHERE ID = #{id}
    </update>
    
    <delete id="deleteMemo" parameterType="int">
    	UPDATE MEMO
    	   SET DEL_YN = 'Y'
    	 WHERE ID = #{id}
    	   AND DEL_YN = 'N'
    </delete>

</mapper>